.navbar{
    background-color: white;
    overflow: hidden;
    cursor: pointer;
    color: black;
    text-align: center;
    font-size: 25px;
}
ul li{
    display: inline;
    padding: 14px 17px;
}
ul li:hover{
    color: blue;
}